
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    /* background colors */
    --background: #454545; /* Light Black */
    /* bacground secondary colors */
    --background_secondary: #726E6D; /* Smokey Gray */
    /* body text colors */
    --normaltext: #B6B6B6; /* Metal */
    
    /* fonts */
    --ff: 'Crimson Text', sans-serif;
    /* font size */
    --fs: 1.2rem;
    --fl: 1.5rem;
    --fxl: 2rem;
    --fxxl: 3rem;
    /* font style */
    --ftext: 400;
    --fsb: 600;
    --fb: 900;
    /* transition */
    --transition: all .3s ease-in-out;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--normaltext);
    font-family: var(--ff);
    font-size: var(--fs);
}

/* sec-link is for inner links between the pages, for the moment */
.sec-link {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    
}

.sec-link:hover {
    color: lightgray;
}



.nav {
    display: flex;
    justify-content:flex-end; 
    align-items: center;
    min-height: 3.5rem;
    background-color: var(--background_secondary);
}

#logo{
    margin-right: auto;
}

.nav__logo {
    margin-left: 20px;
    color: white;
    font-size: var(--fxl);
}

.nav__menu {
    list-style-type: none;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item {
    margin-left: 20px;
}

.nav__link {
    text-decoration: none;
    color: white;
}


.title {
    text-align: center;
}


/*=============== CONTAINER =====================*/

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    gap: 20px;
    
}

.card {
    border: 1px solid #B6B6B6 ;
    min-width: 350px;
    max-width: 350px;
    min-height: 250px;
    margin: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.card_image {
    
}


.card_image img {
    width: 200px;
    height: auto;
    object-fit: contain;
}

.card_title {
    color: black;
    background-color: #F5DEB3;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: var(--fb);
}



.p_card {
    background-color: #F5DEB3;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    text-align: center;
    color: blue;
    font-weight: var(--fsb);
}


/*=============== RESPONSIVE =====================*/

@media screen and (max-width: 1120px) {
    .card {
        min-height: 250px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 720px) {
    .container {
        margin: auto;
    }

    .card {
        border: 1px solid #B6B6B6 ;
        width: 350px;
        min-height: 250px;
        margin: 25px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
    }
    
}

.names {
  text-transform: uppercase;
}