{% extends 'portal/base.html' %}
{% load static %}
{% block content %}
     <h1 class="title">Staff</h1>
     <a class="sec-link" href="{% url 'add_staff'%}">Add new staff</a>

     <div class="container">
          {% for emp in emps  %}
     
               <div class="card">
                    <h3 class="card_title">{{ emp.unit }}</h3>
                    <div class="card_image">
                         <img src="{% get_media_prefix %}{{ emp.image }}" alt=" {{ emp.lname }}">
                    </div>
                    <p class="p_card names">{{ emp.fname }} {{ emp.lname }}</p>
                    <p>position:{{ emp.position}}</p>
                    
                    {% if emp.manager %}
                         <p class="p_card">Manager: {{ emp.manager }}</p>
                    {% endif %}
                    
               </div>
               
          {% endfor %}
     </div>
    

{% endblock %}