{% extends 'portal/base.html' %}
{% load static %}
{% block content %}
     <h1 class="title">Staff Detail</h1>

     <div class="container">
               <div class="card">
                    <h3 class="card_title">{{ emp.unit }}</h3>
                    <div class="card_image">
                         <img src="{% get_media_prefix %}{{ emp.image }}" alt=" {{ emp.lname }}">
                    </div>
                    <p class="p_card names">{{ emp.fname }} {{ emp.lname }}</p>
                    <p>position:{{ emp.position}}</p>
                    
                    {% if emp.manager %}
                         <p class="p_card">Manager: {{ emp.manager }}</p>
                    {% endif %}
                    
               </div>
     </div>


     <div class="line"></div>
     
     {% if sub_emps %}
     <div class="details">
          {% for sub_emp in sub_emps %}
               
                <div class="card">
                    <h3 class="card_title">{{ sub_emp.unit }}</h3>
                    <div class="card_image">
                        <img src="{% get_media_prefix %}{{ sub_emp.image }}" alt=" {{ sub_emp.lname }}">
                    </div>
                    <p class="p_card names">{{ sub_emp.fname }} {{ sub_emp.lname }}</p>
                    <p>position:{{ emp.position}}</p>
                    
                    {% if emp.manager %}
                        <p class="p_card">Manager: {{ sub_emp.manager }}</p>
                    {% endif %}
                    
                </div>
               
        {% endfor %}

     </div>
     {% else %}
          <h2>No members for staff member.</h2>
     {% endif %}
               
  
    
    

{% endblock %}